html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif, -apple-system, BlinkMacSystemFont;
  background-color: #121212;
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
